@import "tailwindcss";

@keyframes scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 30s linear infinite;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .input {
    @apply w-full p-3 rounded-lg border dark:border-gray-700 dark:bg-gray-900 transition;
  }
}
